$bg: rgba(248, 245, 251, 1);
$point: rgba(140, 89, 255, 1);
$font: rgba(58, 61, 92, 1);

@mixin fonttheme {
  &::selection {
    color: whitesmoke;
    background-color: $point;
  }
}

@mixin flexbasic {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
@mixin container {
  width: 800px;
  margin: 0 auto;
}
