// fix material ui exp
.practice{
  margin-bottom: 10rem;
  background-color: gainsboro;

  h2{
    margin-bottom: 10rem;
  }

  // 바로 scss로 해보기 
  // 이 경우에는 여기에 들어간 값이 랜덤으로 들어가는게 아닌 경우임 
  .MuiTabs-root{
    // background-color: red;
  }
}