@import "common";

.comment {
  position: relative;
  padding: 1em 0;
  margin-bottom: 2rem;
  h3 {
    padding: 2em 0;
    font-weight: 500;
  }
  form {
    padding: 1em 0 1.5em 0;
    margin-left: auto;
    input {
      margin-left: 0.5em;
    }
    input[type="text"] {
      width: 50%;
      height: 2.5em;
      border: none;
      padding: 0.5em 0.5em 0.5em 1em;
      border-radius: 0.5em;
      color: gray;
      word-spacing: 1px;
    }
  }
  button {
    margin-left: 0.5em;
  }
  ul {
    height: 20rem;
  }
}

.comment-list,
.comment-profile,
.comment-detail {
  @include flexbasic();
  padding: 0.5em 0;
}
.comment-detail,
.comment-profile {
  width: 50%;
}
.comment-profile {
  .profile-name {
    width: 15%;
    padding: 0 0.5em;
    opacity: 0.5;
  }
}
.comment-detail {
  position: relative;
  justify-content: flex-end;
  p {
    text-align: right;
    width: 30%;
    opacity: 0.5;
  }
}

.miniwindow {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .miniwindow-container {
    @include container();
    padding: 2em;
    background-color: whitesmoke;
    border-radius: 2em;
  }
}
main {
  .main-title {
    padding: 1em 0;
    h2 {
      padding: 1em 0;
    }
  }
}
.contents {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  button {
    width: 20%;
    padding: 2%;
    margin: 1em 1em;
    border: 1px solid whitesmoke;
    border-radius: 1em;
    > * {
      padding: 0.5em 0;
    }
    > p:last-child {
      padding: 0;
      font-size: 1.2rem;
      opacity: 0.5;
    }
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .pagination {
    display: flex;
    .focused {
      font-weight: bolder;
      color: whitesmoke;
      background-color: $point;
    }
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  .loading {
    animation: rotating 1s linear 0.3s infinite;
  }
}
@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
