@import "common";

.upload-container {
  h3 {
    padding: 1em 0;
  }
}

.upload-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30rem;
  input[type="text"],
  textarea {
    width: 100%;
    height: 2.5em;
    border: none;
    padding: 0.5em 0.5em 0.5em 1em;
    border-radius: 1em;
    color: gray;
    word-spacing: 1px;
    resize: vertical;
    &:focus {
      border: 2px solid $point;
    }
  }
  textarea {
    height: 6.5rem;
  }
}
